body {
	padding-top: 60px;
}
#navbar-brand {
	color: #777;
	margin: 10px 0;
}
.page-header {
	margin: 20px 0;
	h3, #create-button {
		margin: 10px 0 0 0;
	}
}
.user-events {
	margin-top: 10px;
}
label {
	margin-top: 5px;
}
input[type=submit] {
	margin-top: 5px;
}