<footer class="footer">
	<div class="container">
		<small>
			<%= link_to "Chatter", root_url %>
		</small>
		<nav>
			<ul>
				<li><%= link_to image_tag("github4.svg", alt: "Github logo"), 'http://www.github.com/cameronjkelley' %></li>
				<li><%= link_to image_tag("linkedin2.svg", alt: "LinkedId logo"), 'http://www.linkedin.com/in/cameronjkelley' %></li>
			</ul>
		</nav>
	</div>
</footer>